<!DOCTYPE html>

<!DOCTYPE html>

<head>
    <title>
        Success
    </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>


<body>
    <div class="header">
        <p> Welcomeeeee, to the best book review page.</p>
    </div>

    <div class="content">
            User or Password incorrect.
    </div>

    <div class="final">
            <a href="/">Log in</a>
            
    </div>
    <div class="final">
            
            <a href="/register">Register</a>
    </div>
</body>
